/*= BMI*/

#bmi {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  padding: 25px 250px;
  gap: 120px;
}

.bmiCalculator h3 {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: bold;
  font-size: 50px;
  margin: 15px 0;
}

.bmiCalculator p {
  font-size: 16px; /* Yazı boyutu */
  font-family: "Poppins", sans-serif;
  font-weight: 300px;
  color: #666; /* Yazı rengi */
}

#bmi-form {
  display: flex;
  font-family: "Poppins", sans-serif;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
}

.yourBmi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valueBmi p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/*!Deneme*/
.bmi-arrow {
  display: none;
  color: red; /* Oku kırmızı yapalım */
  text-align: center;
}

#underweight-arrow {
  margin-left: 0;
}
#normal-arrow {
  margin-left: 50px;
}
#overweight-arrow {
  margin-left: 100px;
}
#obese-arrow {
  margin-left: 150px;
}
#extremely-obese-arrow {
  margin-left: 200px;
}
